* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(255, 255, 255);
    height: 100vh;
    display: flex;
}

#main {
    margin: auto;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.content {
    width: 600px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    border: 1px solid rgba(0,0,0,0.5);
    overflow: hidden;
}

.percent {
    max-width: 600px;
    width: 300px;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(to right, #bb69cc, #246bac);
    color: #fff;
    font-weight: 600;
    transition: all linear;
}