*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #8cc84c;
    min-height: 100vh;
    display: flex;
}
#main{
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
}
.title{
    font-size: 2.5rem;
    color: #000;
    font-weight: 550;
}
.content{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.history{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.history-item{
    background-color: #8cc84c;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white; 
    display: flex; 
    align-items: center; 
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.history-item i{
    margin-left: 10px;
    font-size:2rem;
    font-weight: 550;
    cursor: pointer;
}
.search-block input{
    display: block;
    width: 100%;
    /* margin-top: 15px; */
    outline: none;
    font-size: 2rem;
    border: none;
}
.remove-btn{
    margin-top: 15px;
}
.remove-btn button{
    background-color: #8cc84c;
    color: #fff;
    padding: 12px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
}