*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(23, 162, 184);
    min-height: 100vh;
    display: flex;
}
.intro{
    margin: auto;
}
.intro-section{
    font-size: 4rem;
    background-color: white;
    padding: 10px 25px;
    border-radius: 10px;
    color: rgb(23, 162, 184);
    font-weight: 550;
}
#main{
    margin: auto;

}
.title{
    width: 250px;
    height: 250px;
    border: 5px solid white;
    border-radius: 50%;
    line-height: 250px;
    text-align: center;
    font-size:8rem;
    color: white;
    font-weight: 700;
    margin: 0 auto;
}
.list-options{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.option{
    width: 300px;
    margin: 0 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.option-title{
    background-color: rgb(120, 192, 201);
    color: #fff;
    font-size: 2.5rem;
    height: 40px;
    line-height: 40px;
}
.option-value{
    background-color: white;
    height: 50px;
    color:#000;
    font-size: 2rem;
    line-height: 50px;
}
.hide{
    display: none;
}
.unhide{
    display: block;
}